.list-inline {
  list-style-type: none;
  text-align: center;
}

.list-inline li {
  display: inline-block;
  padding: 10px;
  transition: transform 0.5s;
}

.list-inline li:hover {
  display: inline-block;
  padding: 10px;
  transform: scale(1.5);
  transition: transform 0.5s 0.05s;
}

.list-inline li a{
  text-decoration: none;
}

.list-inline i {
  color: #252525;
}

.post-comments {
  margin-top: 60px;
}

.post-comment {
  background-color: #eee;
  padding: 20px;
  margin-top: 20px;
}

.post-comment-header {
  margin-bottom: 20px;
}

.post-comment-avatar {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}

.post-comment-info {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
}

.post-comment-field {
  display: block;
  font: inherit;
  padding: 10px;
  margin-top: 20px;
  outline-color: #252525;
  width: 100%;
}

.btn {
  border: 2px solid #252525;
  background-color: #252525;
  color: white;
  display: inline-block;
  font: inherit;
  padding: 20px;
  min-width: 100px;
}

.btn:hover {
  border: 2px solid #252525;
  background-color: white;
  color: #252525;
  cursor: pointer;
  text-decoration: none;
}